<%- include('./partials/head.ejs') %>	

<body>
	<!-- Header -->
	<% if (locals.userLogueado != null) { %>
		<%- include('./partials/headerLogueado.ejs') %>
  <% } else { %>
		<%- include('./partials/headernoLogueado.ejs')%>	
  <% } %>  
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% for( let i = 0; i < products.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detalle/<%= products[i].idProducto %>">
							<figure class="product-box_image">
								<img class="imgproducto" src= <%= products[i].imagen %> alt="imagen de la tapa de <%= products[i].nombreProducto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= products[i].nombreProducto %></h2>
								<p><%= products[i].descripcion %></p>
								<p>Subido por: <a href="/users/myprofile/<%=products[i].usuarioProducto.id%>"><%= products[i].usuarioProducto.email %></a></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
			<% if (products.length == 0) {%>
				<p class="error">No hay resultados para su criterio de búsqueda</p>
			<%} %>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>